.clr-primary {
	color: #b81c1c;
}

.clr-primary-muffed {
	color: #8d3636;
}

.clr-black-400 {
	color: #7e7e7e;
}

.clr-black-600 {
	color: #575757;
}

.section-spacer {
	padding-block: 3rem;
}

@media (max-width: 680px) {
	.flex-mobile-column-reverse {
		flex-direction: column-reverse;
	}
	.flex-mobile-column {
		flex-direction: column;
	}
	.list-mobile {
		width: 100%;
	}
	.section-spacer {
		padding-block: 0;
	}
}
